<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="entity-add-page" class="page-wrapper">
    <div class="page">
        <h1>Add paper</h1>
        <form action="/entity/create/paper" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" name="title"/>
            </div>
            <div class="form-group">
                <label>Authors (Comma-separated)</label>
                <input type="text" name="authors"/>
            </div>
            <div class="form-group">
                <label>Journal</label>
                <input type="text" name="journal"/>
            </div>
            <div class="form-group">
                <label>Reason</label>
                <input type="text" name="reason"/>
            </div>
            <div class="form-group">
                <label>Date Read (YYYY-MM-DD)</label>
                <input type="text" name="date_read"/>
            </div>
            <div class="form-group">
                <label>Depth (1 | 2 | 3)</label>
                <input type="text" name="depth"/>
            </div>
            <div class="form-group">
                <label>Year</label>
                <input type="text" name="year"/>
            </div>
            <div class="form-group">
                <label>Time required (minutes)</label>
                <input type="text" name="min_required"/>
            </div>
            <div class="form-group">
                <label>Link</label>
                <input type="text" name="link"/>
            </div>
            <button type="submit" class="btn">Add entity</button>
        </form>
    </div>
</div>

</body>
</html>
