<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% with page = type_ %}
    {% include "structural_partials/menu.html" %}
{% endwith %}

<div id="entity-add-menu-page" class="page-wrapper">
    <div class="page">
        <h1>Entities</h1>
        <ul class="list-unstyled">
            <li><a href="/entity/book">Books</a></li>
            <li><a href="/entity/paper">Papers</a></li>
            <li><a href="/entity/talk">Talks</a></li>
            <li><a href="/entity/website">Websites</a></li>
        </ul>
    </div>
</div>

</body>
</html>
