<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'structural_partials/head.html' %}

<body>

{% include 'structural_partials/nav.html' %}

{% include 'structural_partials/menu.html' %}

<div id='label-page' class='page'>
    {% if books %}
        <div>
            <h2>Books</h2>
            {% with entities = books %}
                {% include 'entity_partials/book_list.html' %}
            {% endwith %}
        </div>
    {% endif %}
    {% if ideas %}
        <div>
            <h2>Ideas</h2>
            {% with entities = ideas %}
                {% include 'entity_partials/idea_list.html' %}
            {% endwith %}
        </div>
    {% endif %}
    {% if papers %}
        <div>
            <h2>Papers</h2>
            {% with entities = papers %}
                {% include 'entity_partials/paper_list.html' %}
            {% endwith %}
        </div>
    {% endif %}
    {% if talks %}
        <div>
            <h2>Talks</h2>
            {% with entities = talks %}
                {% include 'entity_partials/talk_list.html' %}
            {% endwith %}
        </div>
    {% endif %}
</div>

</body>
</html>
