<div id="menu">
    <ul class="list-unstyled">
        <li class="btn-menu" >
            <a href="/gloss/create">
                <span>Add gloss</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="/entity/create">
                <span>Add entity</span>
            </a>
        </li>
        <li class="btn-menu section-start">
            <a href="/?q=all">
                <span>Glosses</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="/entity"><span>Entities</span></a>
        </li>
    </ul>
</div>