<div id="menu">
    <ul class="list-unstyled">
        <li class="btn-menu">
            <a href="/gloss/create">
                <span>Add gloss</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="/entity/create">
                <span>Add entity</span>
            </a>
        </li>
        <li class="btn-menu section-start">
            <a href="/?q=all">
                <span>Glosses</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="/entity"><span>Entities</span></a>
        </li>
        <li class="btn-menu">
            <a href="/author">
                <span>Authors</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="/image">
                <span>Images</span>
            </a>
        </li>
        {% if labels %}
            <li class="section-start">
                <div id="btn-show-labels">
                    <button class="btn">Show Labels</button>
                </div>
                <ul class="list-unstyled hidden" id="menu-label-list">
                    {% for label in labels %}
                        <li class="label">
                            <a href="/?q=label.{{ label.name }}"
                               data-tooltip="{{ label.description }}">
                                {{ label.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            <li>
                <form id="create-label-form" action="/label/create" method="post">
                    <div id="labels">
                        <input type="text" name="labels" placeholder="Label name"/>
                    </div>
                    <button type="submit" class="btn">Create label</button>
                </form>
            </li>
        {% endif %}
    </ul>
</div>