<div id="menu">
    <ul class="list-unstyled">
        <li class="btn-menu" >
            <a href="gloss/create">
                <span>Add gloss</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/create">
                <span>Add entity</span>
            </a>
        </li>
        <li class="btn-menu section-start">
            <a href="gloss">
                <span>Glosses</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/TODO"><span>Entities</span></a>
        </li>
        <li class="section-start">
            <div id="btn-show-labels">
                <button class="btn">Show Labels</button>
            </div>
            <ul class="list-unstyled hidden" id="menu-label-list">
                {% for label in labels %}
                    <li class="label">
                        <a href="{{ label.endpoint }}/{{ label.name }}">{{ label.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
</div>