{% if g.user.is_authenticated %}
    <div id="menu">
        <ul class="list-unstyled">
            <li class="btn-menu" >
                <a href="gloss/create">
                    <span>Add gloss</span>
                </a>
            </li>
            <li class="btn-menu">
                <a href="entity/create">
                    <span>Add entity</span>
                </a>
            </li>
            <li class="btn-menu section-start">
                <a href="gloss">
                    <span>Glosses</span>
                </a>
            </li>
            <li class="btn-menu">
                <a href="label">
                    <span>Labels</span>
                </a>
            </li>
            <li class="btn-menu section-start">
                <a href="entity/book"><span>Books</span></a>
            </li>
            <li class="btn-menu">
                <a href="entity/event"><span>Events</span></a>
            </li>
            <li class="btn-menu">
                <a href="entity/idea"><span>Idea</span></a>
            </li>
            <li class="btn-menu">
                <a href="entity/paper"><span>Papers</span></a>
            </li>
            <li class="btn-menu">
                <a href="entity/talk"><span>Talks</span></a>
            </li>
            <li class="btn-menu">
                <a href="entity/website"><span>Websites</span></a>
            </li>
            <li class="btn-menu section-start">
                <a href="blog"><span>Blog</span></a>
            </li>
        </ul>
    </div>
{% endif %}