<div id="menu">
    <ul class="list-unstyled">
        <li class="btn-menu" >
            <a href="gloss/add">
                <span class="highlight">Add gloss</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/add">
                <span class="highlight">Add entity</span>
            </a>
        </li>
        <li class="btn-menu section-start">
            <a href="entity/idea">
                <span class="{{ 'active' if page == 'idea' else '' }}">Ideas</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/paper">
                <span class="{{ 'active' if page == 'paper' else '' }}">Papers</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/book">
                <span class="{{ 'active' if page == 'book' else '' }}">Books</span>
            </a>
        </li>
        <li class="btn-menu">
            <a href="entity/talk">
                <span class="{{ 'active' if page == 'talk' else '' }}">Talks</span>
            </a>
        </li>
        <li class="btn-menu section-start">
            <a href="gloss/blog">
                <span>Blog</span>
            </a>
        </li>
        {% for label in labels %}
            <li class="btn-menu {{ 'section-start' if loop.first else '' }}">
                <a href="label/{{ label.name }}">
                    <span>{{ label.name }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>