<table class='table display dtable'>
    <thead>
        <tr>
            <th>Date Finished</th>
            <th>Title</th>
            <th>Authors</th>
        </tr>
    </thead>
    {% for book in entities %}
    <tr>
        <td>{{ book.ended }}</td>
        <td>
            {% with labels = book.labels %}
                {% include 'entity_partials/label_list.html' %}
            {% endwith %}
            <a href='{{ book.endpoint }}'>
                {{ book.title }}
            </a>
        </td>
        <td>
            {% with authors = book.authors %}
                {% include 'entity_partials/author_list.html' %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
</table>
