<table class="table display dtable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Speakers</th>
            <th>Date/Time</th>
        </tr>
    </thead>
    {% for talk in entities %}
    <tr>
        <td>
            {% with labels = talk.labels %}
                {% include "entity_partials/label_list.html" %}
            {% endwith %}
            <a href="/{{ talk.endpoint }}">
                {{ talk.title }}
            </a>
        </td>
        <td>
            {% with authors = talk.authors %}
                {% include "entity_partials/author_list.html" %}
            {% endwith %}
        </td>
        <td>{{ talk.timestamp|datetime_str }}</td>
    </tr>
    {% endfor %}
</table>
