<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='book-page' class='page container'>

    <h1>
        {{ author.full_name }}
        {% if author.bio_link %}
            <span class='author-bio-link'>
                <a href='{{ author.bio_link }}' target='_blank'>bio</a>
            </span>
        {% endif %}
    </h1>

    {% if author.books|length > 0 %}
    <div>
        <h2>Books</h2>
        {% with entities = author.books %}
            {% include 'partials/book_list.html' %}
        {% endwith %}
    </div>
    {% endif %}

    {% if author.papers|length > 0 %}
    <div>
        <h2>Papers</h2>
        {% with entities = author.papers %}
            {% include 'partials/paper_list.html' %}
        {% endwith %}
    </div>
    {% endif %}

    {% if author.talks|length > 0 %}
    <div>
        <h2>Talks</h2>
        {% with entities = author.talks %}
            {% include 'partials/talk_list.html' %}
        {% endwith %}
    </div>
    {% endif %}
</div>

{% include 'footer.html' %}

</body>
</html>
