<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

<link rel="stylesheet" href="static/css/blog.css"/>

<div id="blog-page" class="page container">
    <h1>Blog</h1>
    <div id="blog-menu">
        <a href="">Back</a>
    </div>
    <div class="gloss-list">
        {% for gloss in glosses %}
            <div class="gloss {{ gloss.type_ }}">
                <h4>{{ gloss.entity.title }}</h4>
                <h3 class="type">{{ gloss.timestamp|datetime_str }}</h3>
                <div>{{ gloss.text_|markdown|safe }}</div>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
