<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'structural_partials/head.html' %}

<body>

<div id='label-page' class='page container'>
    <h1>Blog</h1>
    <div class="gloss-list">
        {% for gloss in glosses %}
            <div class="gloss {{ gloss.type_ }}">
                <h3 class="type">{{ gloss.type_|capitalize }}{{ gloss.timestamp|date_str }}</h3>
                <h4>{{ gloss.entity.title }}</h4>
                <div>{{ gloss.text_|markdown|safe }}</div>
                <a class="btn-edit" href="gloss/{{ gloss.id }}">&raquo;</a>
            </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
