<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='{{ entity.type_ }}-page' class='page container'>
    <table class='table metadata-table'>
    {% with entity = entity %}
        {% include 'partials/paper_metadata.html' %}
    {% endwith %}
    </table>
    <div id='glosses'>
    {% for gloss in entity.glosses %}
        <div class='gloss {{ gloss.type_ }}'>
            <h5 class='type'>{{ gloss.type_|capitalize }}</h5>
            <div>{{ gloss.text_|markdown|safe }}</div>
        </div>
    {% endfor %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
