{#<div id='footer'>#}
{#    <div class='container-full'>#}
{#        <div class='container'>#}
{#            <ul class='list-inline'>#}
{#                {% if not g.user.is_anonymous %}#}
{#                    <li>#}
{#                        <form action='logout' method='POST'>#}
{#                            <button name='logout' type='submit'>Logout</button>#}
{#                        </form>#}
{#                    </li>#}
{#                {% else %}#}
{#                    <li>#}
{#                        <a href='login'>Login</a>#}
{#                    </li>#}
{#                {% endif %}#}
{#            </ul>#}
{#        </div>#}
{#    </div>#}
{#</div>#}
