<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

<div id="index-public-page" class="page">
    <ul class="list-unstyled">
        <li>
            <a href="blog">Blog</a>
        </li>
        <li>
            <a href="entity/book">Books</a>
        </li>
        <li>
            <a href="entity/paper">Papers</a>
        </li>
        <li>
            <a href="entity/talk">Talks</a>
        </li>
    </ul>
</div>

</body>
</html>
