<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<!-- Need this in case the user searches glosses. -->
<div id="index-page" class="page">
    <div id="glossary">
        <table class="table">
        {% for gloss in glosses %}
            <tr>
                <td><input type="checkbox" name="{{ gloss.id }}"/></td>
                <td><a href="gloss/{{ gloss.type_ }}">{{ gloss.type_|capitalize }}</a></td>
                <td class="ellipsis">
                    {% with labels = gloss.labels %}
                        {% include 'entity_partials/label_list.html' %}
                    {% endwith %}
                    <div class="gloss {{ gloss.type_ }}">
                        <a href="/glossary/gloss/{{ gloss.id }}">{{ gloss.text_ }}</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <table>
    </div>
</div>

</body>
</html>
