<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='label-page' class='page container'>
    <div>
        <h2>Books</h2>
        {% with entities = books %}
            {% include 'partials/book_list.html' %}
        {% endwith %}
    </div>
    <div>
        <h2>Papers</h2>
        {% with entities = papers %}
            {% include 'partials/paper_list.html' %}
        {% endwith %}
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
