<table class='table'>
    {% for book in books %}
    <tr>
        <td>
            <a href='{{ book.endpoint }}/{{ book.id }}'>
                {{ book.title }}
            </a>
        </td>
        <td>
            {% with authors = book.authors %}
                {% include 'partials/author_list.html' %}
            {% endwith %}
        </td>
        <td>
            {% with glosses = book.glosses %}
                {% include 'partials/gloss_list.html' %}
            {% endwith %}
        </td>
        <td>
            {% with labels = book.labels %}
                {% include 'partials/label_list.html' %}
            {% endwith %}
        </td>
    </tr>
    {% endfor %}
</table>
