<tr>
    <td>Authors</td>
    <td>
    {% with authors = entity.authors %}
        {% include 'partials/author_list.html' %}
    {% endwith %}
    </td>
</tr>
<tr>
    <td>Title</td>
    <td>{{ entity.title }}</td>
</tr>
<tr>
    <td>Reason</td>
    <td>{{ entity.reason }}</td>
</tr>
<tr>
    <td>Finished</td>
    <td>{{ 'Yes' if entity.finished else 'No' }}</td>
</tr>
<tr>
    <td>Pages Read</td>
    <td>{{ entity.pages_read }}</td>
</tr>
<tr>
    <td>Started</td>
    <td>{{ entity.started }}</td>
</tr>
<tr>
    <td>Ended</td>
    <td>{{ entity.ended }}</td>
</tr>
<tr>
    <td>Year</td>
    <td>{{ entity.year }}</td>
</tr>
<tr>
    <td>Genre</td>
    <td>{{ entity.genre|capitalize }}</td>
</tr>
<tr>
    <td>Format</td>
    <td>{{ entity.format|capitalize }}</td>
</tr>
<tr>
    <td>Source</td>
    <td>{{ entity.source|capitalize }}</td>
</tr>
<tr>
    <td>Gender</td>
    <td>{{ 'Female' if entity.is_female else 'Male' }}</td>
</tr>
<tr>
    <td>POC</td>
    <td>{{ 'Yes' if entity.is_poc else 'No' }}</td>
</tr>
<tr>
    <td>Buy</td>
    <td>{{ entity.buy }}</td>
</tr>
<tr>
    <td>Nationality</td>
    <td>{{ entity.nationality }}</td>
</tr>

