<table class='table'>
{% for paper in entities %}
    <tr>
        <td>
            <a href='{{ paper.endpoint }}/{{ paper.id }}'>
                {{ paper.title }}
            </a>
        </td>
        <td>
            {% with authors = paper.authors %}
                {% include 'partials/author_list.html' %}
            {% endwith %}
        </td>
        <td>
            {% with labels = paper.labels %}
                {% include 'partials/label_list.html' %}
            {% endwith %}
        </td>
    </tr>
{% endfor %}
</table>