<table class='table'>
{% for paper in papers %}
    <tr>
        <td>{{ paper.title }}</td>
        <td>
            {% with authors = paper.authors %}
                {% include 'partials/authors_partial.html' %}
            {% endwith %}
        </td>
        <td>
            {% with glosses = paper.glosses %}
                {% include 'partials/glosses_partial.html' %}
            {% endwith %}
        </td>
        <td>
            {% with labels = paper.labels %}
                {% include 'partials/labels_partial.html' %}
            {% endwith %}
        </td>
    </tr>
{% endfor %}
</table>