<tr>
    <td>Authors</td>
    <td>
    {% with authors = entity.authors %}
        {% include 'partials/author_list.html' %}
    {% endwith %}
    </td>
</tr>
<tr>
    <td>Title</td>
    <td>{{ entity.title }}</td>
</tr>
<tr>
    <td>Reason</td>
    <td>{{ entity.reason }}</td>
</tr>
<tr>
    <td>Date Read</td>
    <td>{{ entity.date_read }}</td>
</tr>
<tr>
    <td>Depth (1-3)</td>
    <td>{{ entity.depth }}</td>
</tr>
{% if entity.min_required %}
    <tr>
        <td>Minutes Required</td>
        <td>{{ entity.min_required }}</td>
    </tr>
{% endif %}
<tr>
    <td>Year</td>
    <td>{{ entity.year }}</td>
</tr>
<tr>
    <td>Journal</td>
    <td>{{ entity.journal.name }}</td>
</tr>