<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="entity-add-menu-page" class="page container">
    <h1>Add entity</h1>
    <ul class="list-unstyled">
        <li><a href="entity/idea/create">Idea</a></li>
        <li><a href="entity/book/create">Book</a></li>
        <li><a href="entity/paper/create">Paper</a></li>
        <li><a href="entity/talk/create">Talk</a></li>
    </ul>
</div>

</body>
</html>
