<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% with page = entity.type_ %}
    {% include "structural_partials/menu.html" %}
{% endwith %}

<div id="{{ entity.type_ }}-page" class="page-wrapper entity-page">
    <div class="page">

        <table class="table metadata-table">
        {% with entity = entity %}
            {% include "entity_partials/%s_metadata.html" % entity.type_ %}
        {% endwith %}
        </table>

        <div class="gloss-list">
        {% for gloss in entity.glosses %}
            <div class="gloss">
                <h3 class="type">{{ gloss.timestamp|date_str }}</h3>

                {% with labels = gloss.labels_alpha, gloss_id = gloss.id %}
                    {% include "entity_partials/label_list.html" %}
                {% endwith %}

                <div>{{ gloss.text_|markdown|safe }}</div>

                <a class="btn-edit" href="gloss/{{ gloss.id }}">&raquo;</a>
            </div>
        {% endfor %}
        </div>

        <div class="controls">
            <form action="entity/delete/{{ entity.id }}" method="post">
                <input type="submit" class="btn" value="Delete {{ entity.type_ }}"
                       onclick="return confirm('Are you sure you want to delete this item?');"/>
            </form>
        </div>
    </div>
</div>

</body>
</html>
