<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='entity-types-page' class='page container'>
    <h1>Entity types</h1>
    <ul class='list-unstyled'>
        <li>
            <a href='entity/book' class='btn btn-primary'>Books</a>
        </li>
        <li>
            <a href='entity/idea' class='btn btn-primary'>Ideas</a>
        </li>
        <li>
            <a href='entity/paper' class='btn btn-primary'>Papers</a>
        </li>
        <li>
            <a href='entity/talk' class='btn btn-primary'>Talks</a>
        </li>
    </ul>
</div>

{% include 'footer.html' %}

</body>
</html>
