/* Colors
 * ------ */
@color-primary-red: #d5364a;
@color-blue: #1a0dab;
@color-yellow: #ffeb8e;
@color-yellow-light: #FFF8DC;

@color-menu-gray: #f9f9f9;

@font-family-base: arial, sans-serif;
@font-size-base: 13px;

@dim-footer-height: 50px;
@dim-page-width: 700px;

@background-transition: background-color 200ms linear;

/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: @font-size-base;
}

/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: @font-family-base;
}

a {
  color: @color-blue;
  &:hover {
    color: @color-blue;
    text-decoration: underline;
  }
}

input,
textarea {
  border-radius: 0 !important;
}

table {
  font-size: 13px;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}

.list-unstyled {
  list-style: none;
  padding: 0;
}

.btn {
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: black;
  font-family: @font-family-base;
  font-style: italic;
  padding: 2px 5px;
  text-align: left;
  width: 100%;

  &.btn-primary {
    box-shadow: none !important;

    &:active,
    &:focus,
    &:hover {
      background-color: @color-primary-red;
      color: white;
      border-bottom: 1px solid @color-primary-red;
    }
  }

  &.btn-warning {
    //background-color: black;
    border-bottom: 1px solid @color-primary-red;
    color: @color-primary-red;

    &:active,
    &:focus,
    &:hover {
      background-color: @color-primary-red;
      color: white;
      border-bottom: 1px solid @color-primary-red;
    }
  }

  &.btn-danger {
    background-color: @color-primary-red;
    border-bottom: 1px solid @color-primary-red;
    color: white;

    &:hover {
      border-color: black;
      background-color: black;
    }
  }
}

.label {
  background-color: transparent;
  border: 1px solid @color-primary-red;
  border-radius: 0;
  color: black;
  font-size: 12px;
  padding: 2px 6px;

  &:hover {
    background-color: @color-primary-red;
  }
}

/* Structural elements.
 * -------------------- */
#header {
  background-color: black;
  border-bottom: 1px solid black;
  font-family: @font-family-base;
  height: 25px;

  h1 {
    margin: 0;
    padding-left: 20px;

    a {
      color: white;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;

      &:hover {
        opacity: .8;
        text-decoration: none;
      }
    }
  }
  .container {
    width: @dim-page-width;
  }
}

#menu {
  background-color: @color-menu-gray;
  float: left;
  height: 100%;
  width: 150px;

  ul {
    margin: 0;

    .btn-menu {
      background-color: @color-menu-gray;
      border-bottom: 1px solid #eee;
      height: 40px;

      a {
        color: black;
        display: block;
        font-family: @font-family-base;
        font-size: 16px;
        font-weight: bold;
        height: 100%;
        width: 100%;

        span {
          display: inline-block;
          padding-left: 20px;
          padding-top: 10px;
        }
      }

      &:hover {
        background-color: red;
      }
    }

    h2 {
      font-size: 16px;
      padding-left: 20px;
    }

    #search {
      background-color: #aaa;
      border-bottom: 1px solid #aaa;
      height: 40px;

      div {
        padding: 5px;

        input {
          border: none;
          font-size: 14px;
          height: 30px;
          padding: 5px;
          width: 100%;
        }
      }
    }
  }
}

#container {
  height: 1000px;
  width: 1000px;
}

.page {
  float: left;
  margin-top: 20px;
  max-width: @dim-page-width;
  padding-left: 20px;
  width: 100%;

  h1 {
    border-bottom: 1px solid black;
    font-size: 20px;
    font-style: italic;
    margin-top: 0;
  }
  h2 {
    font-size: 18px;

    &:first-child {
      margin-top: 0;
    }
  }
}

#footer {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}

/* Content that spans pages.
 * ------------------------- */
blockquote {
  background-color: @color-yellow-light;
  border-left: 2px solid @color-yellow;
  font-size: 13px;
}

.metadata-table {
  background-color: #f9f9f9;
  border: 1px solid #ddd;  /* Matches Bootstrap. */
}

.author-list {
  margin-bottom: 0;
}

.author-bio-link {
  font-size: 11px;
  display: inline-block;
  margin-left: 5px;
}

.list-inline.label-list {
  margin-bottom: 20px;
  li {
    padding-right: 0;  /* Tight up Bootstrap's inline list for labels. */
  }
}

#glosses {
  .gloss {
    margin-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px;

    .btn {
      width: 100px;
    }
    .type {
      margin: 0 0 10px 0;
      font-style: italic;
    }
    &.idea {
      border-color: green;
    }
    &.summary {
      border-color: #aaa;
    }
  }
}

/* Pages.
 * ------ */
#glosses-page {
  h1 {
    margin-bottom: 20px;
  }
  ul {
    margin-top: 20px;

    li {
      border-bottom: 1px solid #eee;
      margin-top: 5px;
      padding-top: 5px;
    }
  }
}

#gloss-page {
  .entity-link {
    border-bottom: 1px solid #eee;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .gloss-controls {
    border-top: 1px solid #eee;
    margin-top: 100px;
    padding-top: 20px;
    a {
      margin-bottom: 5px;
    }
  }
}

#gloss-add-page,
#gloss-edit-page {
  textarea {
    height: 300px;
  }
}

#entity-types-page {
  li {
    margin-bottom: 10px;
  }
}

#labels-page {
  ul {
    li {
      margin-bottom: 7px;
    }
  }
}