/* Colors
 * ------ */
/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Sticky Footer. Do not change.
 * ----------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 50px;
}
#footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}
/* Tag and general class selectors.
 * -------------------------------- */
a {
  color: blue;
}
a:hover {
  color: blue;
  text-decoration: underline;
}
table {
  font-size: 13px;
}
/* Element selectors.
 * ------------------ */
#header {
  background-color: black;
}
#header .container {
  width: 600px;
}
#header h1 {
  margin: 5px 0;
}
#header h1 a {
  font-size: 13px;
  color: white;
}
#header h1 a:hover {
  text-decoration: none;
}
#container {
  height: 1000px;
  width: 1000px;
}
.page {
  margin-top: 20px;
  width: 600px;
}
.page h1 {
  margin-top: 0;
  font-size: 20px;
}
.page h2 {
  font-size: 18px;
}
.page h2:first-child {
  margin-top: 0;
}
#footer {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}
#search {
  margin: 50px 0;
}
#search ul {
  margin-top: 20px;
}
#search ul li {
  border-top: 1px solid #eee;
  margin-top: 5px;
  padding-top: 5px;
}
#search .ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
