/* Colors
 * ------ */
/* Reset
 * ----- */
html,
body {
  margin: 0;
  font-size: 13px;
}
/* Tag and general class selectors.
 * -------------------------------- */
body {
  font-family: arial, sans-serif;
}
a {
  color: #1a0dab;
}
a:hover {
  color: #1a0dab;
  text-decoration: underline;
}
input,
textarea {
  border-radius: 0 !important;
}
table {
  font-size: 13px;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.list-unstyled {
  list-style: none;
  padding: 0;
}
.btn {
  background-color: #f9f9f9;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  color: black;
  font-family: arial, sans-serif;
  font-style: italic;
  padding: 2px 5px;
  text-align: left;
  width: 100%;
}
.btn.btn-primary {
  box-shadow: none !important;
}
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background-color: #d5364a;
  color: white;
  border-bottom: 1px solid #d5364a;
}
.btn.btn-warning {
  border-bottom: 1px solid #d5364a;
  color: #d5364a;
}
.btn.btn-warning:active,
.btn.btn-warning:focus,
.btn.btn-warning:hover {
  background-color: #d5364a;
  color: white;
  border-bottom: 1px solid #d5364a;
}
.btn.btn-danger {
  background-color: #d5364a;
  border-bottom: 1px solid #d5364a;
  color: white;
}
.btn.btn-danger:hover {
  border-color: black;
  background-color: black;
}
.label {
  background-color: transparent;
  border: 1px solid #d5364a;
  border-radius: 0;
  color: black;
  font-size: 12px;
  padding: 2px 6px;
}
.label:hover {
  background-color: #d5364a;
}
/* Structural elements.
 * -------------------- */
#header {
  background-color: black;
  border-bottom: 1px solid black;
  font-family: arial, sans-serif;
  height: 25px;
}
#header h1 {
  margin: 0;
  padding-left: 20px;
}
#header h1 a {
  color: white;
  font-size: 13px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
#header h1 a:hover {
  opacity: .8;
  text-decoration: none;
}
#header .container {
  width: 700px;
}
#menu {
  background-color: #f9f9f9;
  float: left;
  height: 100%;
  width: 150px;
}
#menu ul {
  margin: 0;
}
#menu ul .btn-menu {
  background-color: #f9f9f9;
  border-bottom: 1px solid #eee;
  height: 40px;
}
#menu ul .btn-menu a {
  color: black;
  display: block;
  font-family: arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  width: 100%;
}
#menu ul .btn-menu a span {
  display: inline-block;
  padding-left: 20px;
  padding-top: 10px;
}
#menu ul .btn-menu:hover {
  background-color: red;
}
#menu ul h2 {
  font-size: 16px;
  padding-left: 20px;
}
#menu ul #search {
  background-color: #aaa;
  border-bottom: 1px solid #aaa;
  height: 40px;
}
#menu ul #search div {
  padding: 5px;
}
#menu ul #search div input {
  border: none;
  font-size: 14px;
  height: 30px;
  padding: 5px;
  width: 100%;
}
#container {
  height: 1000px;
  width: 1000px;
}
.page {
  float: left;
  margin-top: 20px;
  max-width: 700px;
  padding-left: 20px;
  width: 100%;
}
.page h1 {
  border-bottom: 1px solid black;
  font-size: 20px;
  font-style: italic;
  margin-top: 0;
}
.page h2 {
  font-size: 18px;
}
.page h2:first-child {
  margin-top: 0;
}
#footer {
  background-color: #f9f9f9;
  border-top: 1px solid #eee;
}
/* Content that spans pages.
 * ------------------------- */
blockquote {
  background-color: #FFF8DC;
  border-left: 2px solid #ffeb8e;
  font-size: 13px;
}
.metadata-table {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  /* Matches Bootstrap. */
}
.author-list {
  margin-bottom: 0;
}
.author-bio-link {
  font-size: 11px;
  display: inline-block;
  margin-left: 5px;
}
.list-inline.label-list {
  margin-bottom: 20px;
}
.list-inline.label-list li {
  padding-right: 0;
  /* Tight up Bootstrap's inline list for labels. */
}
#glosses .gloss {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}
#glosses .gloss .btn {
  width: 100px;
}
#glosses .gloss .type {
  margin: 0 0 10px 0;
  font-style: italic;
}
#glosses .gloss.idea {
  border-color: green;
}
#glosses .gloss.summary {
  border-color: #aaa;
}
/* Pages.
 * ------ */
#glosses-page h1 {
  margin-bottom: 20px;
}
#glosses-page ul {
  margin-top: 20px;
}
#glosses-page ul li {
  border-bottom: 1px solid #eee;
  margin-top: 5px;
  padding-top: 5px;
}
#gloss-page .entity-link {
  border-bottom: 1px solid #eee;
  font-weight: bold;
  margin-bottom: 20px;
}
#gloss-page .gloss-controls {
  border-top: 1px solid #eee;
  margin-top: 100px;
  padding-top: 20px;
}
#gloss-page .gloss-controls a {
  margin-bottom: 5px;
}
#gloss-add-page textarea,
#gloss-edit-page textarea {
  height: 300px;
}
#entity-types-page li {
  margin-bottom: 10px;
}
#labels-page ul li {
  margin-bottom: 7px;
}
