<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="gloss-add-page" class="page-wrapper">
    <div class="page">
        <h1>Add gloss</h1>

        <div id="controls">
            {% include "components/image_uploader.html" %}
        </div>

        <form action="/gloss/create" method="post">
            <select name="entity_id">
                <option value="">(Select entity)</option>
                {% for entity in entities %}
                <option value="{{ entity.id }}">
                    {{ entity.title }}
                </option>
                {% endfor %}
            </select>
            <div id="labels">
                <label>Labels, comma-separated</label>
                <input type="text" name="labels"/>
            </div>
            <input class="form-control" name="title" type="text" placeholder="Title"/>
            <textarea id="edit-field" type="text" name="text_" class="form-control"></textarea>
            <div id="edit-preview" class="markdown-body"></div>
            <button type="submit" class="btn btn-warning">Create gloss</button>
        </form>
    </div>
</div>

</body>
</html>
