<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{#{% include "structural_partials/menu.html" %}#}

<div id="gloss-edit-page" class="page-wrapper">
    <form action="/gloss/edit/{{ gloss.id }}" method="post">
        <textarea id="edit-field" type="text" name="text_" class="form-control">{{ gloss.text_ }}</textarea>
        <div id="edit-preview" class="markdown-body"></div>
        <button type="submit" class="btn btn-warning" id="edit-submit-btn">Edit text</button>
    </form>
    <form action="/gloss/delete/{{ gloss.id }}" method="post">
        <input type="submit" class="btn" value="Delete"
               onclick="return confirm('Are you sure you want to delete this item?');"/>
    </form>
</div>

</body>
</html>
