<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="gloss-page" class="page-wrapper">

    {% if gloss.title %}
        <h1>{{ gloss.title }}</h1>
    {% endif %}

    {% if gloss.entity.type_ %}
        <p class="entity-link">
            <strong>Associated with:</strong> <a href="/entity/{{ gloss.entity.type_ }}/{{ gloss.entity.id }}">{{ gloss.entity.title }}</a>
        </p>
    {% endif %}

    {% if gloss.public_url %}
        <p>
            <strong>Public URL:</strong> <a href="{{ gloss.public_url }}">{{ gloss.public_url }}</a>
        </p>
    {% endif %}

    {% with labels = gloss.labels_alpha, gloss_id = gloss.id %}
        {% include 'entity_partials/label_list.html' %}
    {% endwith %}

    <div class="controls">
        <div>
            <a class="btn" href="/gloss/edit/{{ gloss.id }}">Edit</a>
        </div>
    </div>
    <div class="gloss markdown-body">
        {{ gloss.text_|markdown|safe }}
    </div>
</div>

</body>
</html>
