<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% with gloss_id = gloss.id %}
    {% include "structural_partials/nav.html" %}
{% endwith %}

<div id="gloss-page" class="page-wrapper">
    <div class="title-wrapper">
        <div class="title">
            <h1>{{ meta.title or gloss.title }}</h1>
            <p>{{ meta.subtitle }}</p>
            <p class="date">{{ meta.date }}</p>
            {% if gloss.entity.type_ %}
                <p><a href="/entity/{{ gloss.entity.id }}">{{ gloss.entity.title }}</a></p>
            {% endif %}
        </div>
    </div>
    <div class="gloss markdown-body">
        {{ gloss.text_|markdown|safe }}
    </div>
</div>

</body>
</html>
