{% if labels|length > 0 %}
    <ul class="list-unstyled list-labels">
    {% for label in labels %}
        <li class="label">
            <a href="{{ label.endpoint }}/{{ label.name }}">{{ label.name }}</a>

            {# When viewing an entity, you cannot directly delete a label
             # Because we do not know to which gloss(es) the label applies.
             #}
            {% if gloss_id %}
                <form action="label/delete" method="post">
                    <input type="hidden" name="label_id" value="{{ label.id }}"/>
                    <input type="hidden" name="gloss_id" value="{{ gloss_id }}"/>
                    <input type="submit" value="x"/>
                </form>
            {% endif %}

            <div class="clear"></div>
        </li>
    {% endfor %}
    </ul>
{% endif %}