<table class='table'>
    <thead>
        <tr>
            <th>Title</th>
            <th>Authors</th>
            <th>Year</th>
        </tr>
    </thead>
    {% for paper in entities %}
        <tr>
            <td>
                {% with labels = paper.labels %}
                    {% include 'entity_partials/label_list.html' %}
                {% endwith %}
                <a href='{{ paper.endpoint }}/{{ paper.id }}'>
                    {{ paper.title }}
                </a>
            </td>
            <td>
            {% with authors = paper.authors %}
                {% include 'entity_partials/author_list.html' %}
            {% endwith %}
            </td>
            <td>{{ paper.year }}</td>
        </tr>
    {% endfor %}
</table>