<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="gloss-edit-page" class="page-wrapper">
    <div class="page">
        <h1>Edit gloss</h1>

        {% include "components/image_uploader.html" %}

        <form action="gloss/edit/{{ gloss.id }}" method="post">
            <textarea id="edit-field" type="text" name="text_" class="form-control">{{ gloss.text_ }}</textarea>
            <button type="submit" class="btn btn-warning">Edit gloss</button>
        </form>

        <div id="edit-preview"></div>
    </div>
</div>

</body>
</html>
