<!DOCTYPE HTML PUBLIC=''>
<html>

{% include 'head.html' %}

<body>

{% include 'header.html' %}

<div id='gloss-page' class='page container'>
    {% if entity.type_ %}
        <p class='entity-link'>
            <a href='entity/{{ entity.type_ }}/{{ entity.id }}'>{{ entity.title }}</a>
        </p>
    {% endif %}
    <div class='markdown'>
        {{ rendered_gloss|safe }}
    </div>
    <div class='gloss-controls'>
        <a href='gloss/edit/{{ gloss_id }}' class='btn btn-warning'>Edit</a>
        <form action='gloss/delete/{{ gloss_id }}' method='post'>
            <input type='submit' class='btn btn-danger' value='Delete'
                   onclick='return confirm("Are you sure you want to delete this item?");'/>
        </form>
    </div>
</div>

{% include 'footer.html' %}

</body>
</html>
