<!DOCTYPE HTML PUBLIC="">
<html>

{% include "structural_partials/head.html" %}

<body>

{% include "structural_partials/nav.html" %}

{% include "structural_partials/menu.html" %}

<div id="gloss-page" class="page-wrapper">
    <div class="gloss-list">

        {% if gloss.entity.type_ %}
            <h1 class="entity-link">
                <a href="entity/{{ gloss.entity.type_ }}/{{ gloss.entity.id }}">{{ gloss.entity.title }}</a>
            </h1>
        {% endif %}

        {% with labels = gloss.labels, gloss_id = gloss.id %}
            {% include 'entity_partials/label_list.html' %}
        {% endwith %}

        <div class="gloss-wrapper">
            <div class="gloss {{ gloss.type_ }}">
                {{ gloss.text_|markdown|safe }}
            </div>
        </div>

        <div class="controls">
            <div>
                <form action="label/add" method="post">
                    <input type="hidden" name="gloss_id" value="{{ gloss.id }}"/>
                    <select class="control" name="label_id">
                        {% for label in labels %}
                            <option value="{{ label.id }}">{{ label.name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn" id="label-action">Label</button>
                </form>
            </div>
            <div>
                <form action="gloss/type/{{ gloss.id }}" method="post">
                    <input type="hidden" name="gloss_id" value="{{ gloss.id }}"/>
                    <select class="control" name="gloss_type">
                        <option value="{{ gloss.type_ }}">{{ gloss.type_ }}</option>
                        {% for type_ in types %}
                            {% if type_ != gloss.type_ %}
                                <option value="{{ type_ }}">{{ type_ }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn" id="type-action">Type</button>
                </form>
            </div>
            <div>
                <a class="btn" href="gloss/edit/{{ gloss.id }}">Edit</a>
            </div>
            <div>
                <form action="gloss/delete/{{ gloss.id }}" method="post">
                    <input type="submit" class="btn" value="Delete"
                           onclick="return confirm('Are you sure you want to delete this item?');"/>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>
